.participant {
    flex-shrink: 0;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 40rem;
    height: 7rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    & img, & span.imageBorder {
        display: block;
        position: absolute;
        left: 0;
        z-index: 11;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        translate: -1.7rem 0;
    }

    & span.imageBorder {
        z-index: 9;
    }

    & div.textCon {
        position: relative;
        z-index: 10;
        padding: 0 3rem 0 6.5rem;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        border-radius: 2rem;
        background-color: var(--c-bg);
        background-image: var(--g-standard);

        & h5 {
            font-weight: 400;
        }
    }


    &:first-of-type {
        height: 9rem;
        max-width: 44rem;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 12;
            width: 5rem;
            height: 5rem;
            background-image: url("/src/assets/korona.svg");
            background-size: contain;
            background-repeat: no-repeat;
            translate: -2.4rem -3rem;
            transition: scale 0.5s;
        }

        & span.imageBorder {
            height: calc(100% + 0.8rem);
            background-color: var(--c-detal);
            translate: -2.6rem 0;
            transition: scale 0.5s;
        }

        & img {
            translate: -2.2rem 0;
        }

        & div.textCon {
            padding: 0 3rem 0 8rem;
            box-shadow: 1rem 0 0 0.1rem var(--c-detal);
            transition: box-shadow 0.5s, padding 1s;

            & h5 {
                font-weight: 700;
                font-size: 1.7rem;
            }
        }
    }

}

.newUser {
    z-index: 20;

    & div.textCon {
        background-color: var(--c-detal);
        background-image: linear-gradient(170deg, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 80%);
        color: var(--c-bg);
        box-shadow: 0 0 0.4rem 0 var(--c-text) !important;
    }

    &:first-of-type {

        & div.textCon {
            box-shadow: 0 0 0.6rem 0 var(--c-text) !important;
        }

        & span.imageBorder {
            background-color: transparent;
        }
    }
}

.hideTop {
    left: -0.5rem;
    height: 7rem;

    & span.imageBorder {
        scale: 0;
    }

    & div.textCon {
        padding: 0 3rem 0 6.5rem;
    }

    &::after {
        scale: 0;
    }
}