.scoreboard {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 80dvw;
    height: 100%;
    padding: 5rem 0;
    overflow-y: scroll;
    scroll-padding-top: 2rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1rem, rgba(0, 0, 0, 1) 2rem, rgba(0, 0, 0, 1) calc(100% - 3rem), rgba(0, 0, 0, 0) calc(100% - 1rem));
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
}

.wilks {
    font-size: 3.6rem;
    color: var(--c-detal);
}

.addNewScore {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: transparent;
}

.newScoreDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    backdrop-filter: blur(2rem);
    width: 100dvw;
    height: 100dvh;
    box-shadow: inset 0 0 30px -5px var(--c-text);
    transition: background-color 2s;

    & h1 {
        line-height: 5rem;
    }

    & h2 {
        text-align: left !important;
    }
}