@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* colors */
    --c-text: #FFFFFF;
    --c-bg: #090701;
    --c-detal: #FFD800;
    --c-female: #DD53CE;
    --c-male: #59A9F2;

    /* fonts */
    --f-main: "Sarabun", sans-serif;

    /*  global styling  */
    font-family: var(--f-main);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--c-bg);
    color: var(--c-text);
}